@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeinout 10s forwards ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn-60 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.fadeIn-60 {
  animation: fadeIn-60 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  animation: fadeOut 0.5s ease-in;
}

@keyframes fadeOut-60 {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut-60 {
  animation: fadeOut-60 0.2s ease-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slideInRight 0.2s ease-in-out;
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.slideOutRight {
  animation: slideOutRight 0.2s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation: slideInLeft 0.2s ease-in-out;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slideOutLeft {
  animation: slideOutLeft 0.2s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}
