@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown: #c5b295;
  --brown-light: #dbc6a6;
}

@font-face {
  font-family: "ZCOOL";
  font-style: normal;
  src: url("/nightwish/fonts/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

html,
body {
  background-color: #000;
  font-family: ZCOOL, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(119, 118, 118);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brown-light);
  border-radius: 10px;
}

button {
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
  outline: none;

  &:active {
    box-shadow: inset 0 5px 4px -1px rgb(0 0 0 / 20%);
  }

  &:focus {
    outline: none;
  }

  @apply py-3 px-10 flex justify-center;
}

.input {
  @apply flex flex-col rounded-lg;

  > * {
    @apply mb-1;
  }

  input,
  textarea {
    &:focus {
      outline: none;
    }
  }
}

.error {
  color: rgb(255, 0, 0);
}

.page-container {
  min-height: 90vh;
}

.vjs-big-play-button {
  display: none !important;
}

.vjs-control-bar {
  transition: 0.5s;
}

.vjs-control-bar-shot {
  .vjs-control-bar {
    width: 68vw !important;
  }
}

.isChrome img {
  image-rendering: -webkit-optimize-contrast;
}

.hero-content {
  margin-top: -25vh;
}

@media (min-width: 768px) {
  .hero-content {
    margin-top: -25vh;
  }
}

@media (min-height: 600px) and (min-width: 768px) {
  .hero-content {
    margin-top: -25vh;
  }
}

@media (min-height: 800px) and (min-width: 768px) {
  .hero-content {
    margin-top: -25vh;
  }
}
