#navBarMobileContainer {
  > div {
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 2rem;

    a {
      color: var(--brown);
      margin: 0;
    }
  }
}

#navBarItemsContainer {
  > div {
    padding: 0 1.5rem;
    @apply flex justify-center;

    a,
    button {
      @apply m-auto;
    }
  }
}

#hamburger {
  &:hover {
    cursor: pointer;
  }
}
