#container {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.videoWrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.video {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video {
    width: 100%;
  }
}
